/*	skins/basic/CSS.css | 20160328 | copyleft_GPL alainmarty */

body {
  background:#fff;
  font:normal 1em Optima, Helvetica, Arial, Verdana, sans-serif;
}
#frame_view {
	width:600px; 
  border:1px solid black;
  padding:10px; 
  box-shadow:0 0 8px black;
  background:#fff;
  opacity:0.8;
}
#frame_editor {
	width:600px; 
  padding:10px; 
  border:1px solid black;
  box-shadow:0 0 4px black;
  background:#fff;
  opacity:0.8;
}
#frame_view {
	position:relative; 
	top:0; 
	left:0; 
	/*border:1px solid #ccc;*/
	margin:auto;
}
#frame_editor {
	position:fixed; 
	top:150px; 
	left:10px; 
	height:460px;
	display:none;
}
#pop_menu_view {
	visibility:hidden;
}
#menu_editor {
	font:normal 1em courier new; 
	background:white url('copyleft.png') 100% no-repeat; 
	cursor:move; 
}
#menu_editor:hover {
  background:#eee;
}
#title {
	/*display:none;*/
	font-size:1.5em; 
	color:#ccc; 
	padding-left:20px; 
	text-shadow:2px 2px 2px #000;
	cursor:move; 
}
#title:hover {
  background:#eee;
}
#page_view {
	margin-top:10px;
}
#page_textarea {
	width:98%; 
	height:400px; 
	margin-top:10px;
	padding:5px; 
	font:normal 1em courier;
}
#textarea_backpage {
	width:100%; 
	height:500px; 
	margin-top:10px;
	padding:5px; 
	border:0 solid; 
}
#footer {
  text-align:right;
	font-size:0.8em;
	opacity:0.5;
}
a {
	text-decoration:none; 
	color:#888; 
} 
a:hover {
	color:#f00;
}
#title a {
	text-decoration:none;
	font-weight:bold;
	color:#f00;
} 
#title a:hover {
	color:#0ff;
}

/* *********************** */

h1, h2, h3, h4, h5, h6 {
	margin:10px 20px; 
	color:#444;
}
h1 	{ 	font-size:3.0em; } 
h2 	{ 	font-size:2.6em; } 
h3 	{ 	font-size:2.2em; } 
h4 	{ 	font-size:1.8em; } 
h5 	{ 	font-size:1.4em; } 
h6	{ 	font-size:1.0em; } 
p	{ 
	text-align:justify; 
	margin-top:10px; 
	text-indent:20px;
}
ul	{ 
	text-align:justify; 
	margin:0 0 0 20px;
  padding:0px;
}
ol	{ 
	text-align:justify; 
	margin:0 0 0 40px;
  padding:0px;
}
dl {
	margin-left:20px;
}
dt {
	font-weight:bold;
	font-size:1.2em;
}
dd {
	font-style:italic;
}
table	{ 	
	width:100%; 
	padding:0;
	margin:0;
}
tr {
	padding:0;
	margin:0;
}
td { 	
	border:1px solid #888; 
	padding:0px; 
}
pre { 
	padding:5px; 
	background-color: #eee; 
	font:bold 0.9em courier new; 
	color:#400; 
}
blockquote { 
	border:1px solid #888; 
	background-color:#eee; 
	margin:0 20px; 
	padding:5px; 
	font:italic 0.8em arial; 
}
sup, sub {
	line-height:0.4em;
}
.note { 
	display:none;
	padding-left:5px; 
	padding-right:20px; 
	border-left:1px solid #ccc;
}

/* SHOWBOX & LIGHTBOX */

#grey_background {
	position:fixed; 
	top:0px; 
	left:0px; 
	height:100%; 
	width:100%; 
	background:rgba( 0,0,0,0.5 );
}

/* SHOWBOX */

.showbox {
	border:1px solid white;
	margin:5px; padding:5px;
	box-shadow:0 0 8px black;
	background:#888;
	-webkit-transition: all 1s ease-out 0s;
	   -moz-transition: all 1s ease-out 0s;
	    -ms-transition: all 1s ease-out 0s;
	        transition: all 1s ease-out 0s;
}

.showbox:hover {
	-webkit-transform:rotate(1deg) scale( 1.1 );
	   -moz-transform:rotate(1deg) scale( 1.1 );
	    -ms-transform:rotate(1deg) scale( 1.1 );
	        transform:rotate(1deg) scale( 1.1 );
}

#showbox_display {
	position:fixed; top:20px; left:50%; margin-left:0px; 
	background:white; padding:10px; 
	box-shadow:0 0 8px black;
	-webkit-transition: all 0.1s ease-out 0s;
	   -moz-transition: all 0.1s ease-out 0s;
	    -ms-transition: all 0.1s ease-out 0s;
	        transition: all 0.1s ease-out 0s;
}

#showbox_display:hover {
	-webkit-transform:scale( 0.99 );
	   -moz-transform:scale( 0.99 );
	    -ms-transform:scale( 0.99 );
	        transform:scale( 0.99 );
}

/* LIGHTBOX */

.lightbox {
	display:inline-block;
	border:1px solid white; 
	margin:5px; padding:5px;
	box-shadow:0 0 8px black;
	background:#888; 
}

#lightbox_display {
	position:fixed; 
	top:20px; 
	left:50%; 
	margin-left:0px; 
	background:white;
	padding:10px; 
	width:100px;
	box-shadow:0 0 8px black;
}
#lightbox_thumbs {
	text-align:center; 
	padding:5px 0;
}
#light_image {
	border:1px solid black;
}
#light_text {
	text-align:center; 
	border-top:1px solid #888; 
	padding:5px 0;
	color:#444;
}
.light_content {
	-webkit-transition: all 0.1s linear;
	   -moz-transition: all 0.1s linear;	
	    -ms-transition: all 0.1s linear;	
	        transition: all 0.1s linear;	
}

.light_content:hover {
	opacity:0.5;
}
