<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>{{WIKI_NAME}}</title>
    <style>
      #loginFrame {
        font:normal 14px "courier new";
        width:400px;
        margin:auto;
        padding:10px;
        background:#ffe;
        border:1px solid;
        box-shadow:0 0 8px black;
      }
      a {
        text-decoration:none;
        color:#888;
        text-shadow:2 2 2px black;
      }
      a:hover {
        color:#f00;
      }
    </style>
  </head>
  <body>
    <div id="loginFrame">
      <h1>Login : {{WIKI_NAME}}</h1>
    
      <form action="/login" method="post">
        username <input type="text" name="username"><br>
        password <input type="password" name="password"><br>
        <input type="submit" name="submit" value="submit">
      </form>
    
      <p>{{comment}}</p>
      <a href="/">return</a>
    </div>
  </body>
</html>